# Mac OS X
.DS_Store
._.*
._*

# Ignore local editor
.project
.settings
.idea
*.swp
tags
nbproject/*


# Windows
node_modules
Thumbs.db
coverage
temp 
backups
dist
helpers
dev-tools
npm-debug.log*
yarn-debug.log*
yarn-error.log*
